/*  divider line */

.plan_divider-line {
    width: 20%;
    display: flex;
    align-items: center;
    margin: 24px auto;
}

.plan_divider-line::before,
.plan_divider-line::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #999999;
}

.plan_divider-text {
    padding: 0 10px;
    color: #777;
}


/*###################*/
.plan {
    width: 100%;
}

.plan_upper_half {
    width: 100%;
    height: 56vh;
    background-color: #032b41;
    border-bottom-left-radius:250px;
    border-bottom-right-radius:250px;
    position: relative;
    text-align: center;
    padding-top: 48px;
    margin-bottom: 24px;
}

.plan_upper_half_title {
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #fff;
}

.plan_upper_half_title_subtitle {
    font-size: 20px;
    margin-bottom: 32px;
    color: #fff;
}

.pricing_pic_cont {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    max-width: 340px;
    margin: 0 auto;
    border-radius: 180px 180px 0 0;
    overflow: hidden;
}

.pricing_pic_cont img {
    width: 100%;
    height: 100%;
}


.plan_features_cont {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin-bottom: 56px;
}

.plan_features_card {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plan_icon_container {
    width: 60px;
    height: 60px;
    margin-bottom: 12px;
}

.plan_icon {
    width: 100%;
    height: 100%;
    color: #032b41;
}

.plan_feature_text {
    color: #394547;
    line-height: 1.5;
}

/* ########## lower half ############*/

.plan_title {
    font-size: 32px;
    color: #032b41;
    text-align: center;
    margin-bottom: 32px;
    font-weight: 700;
}

.floating_plan_div {
    background: #fff;
    position: sticky;
    bottom: 0;
    z-index: 1;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.floating_plan_div button {
    background-color: #2bd97c;
    height: 40px;
    font-size: 16px;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
    padding: 0 40px;
    border-radius: 4px;
}

.plan_disclaimer {
    font-size: 12px;
    color: #6b757b;
    text-align: center;
}

/*############## plan card ##################*/

.plan_card {
    border: 4px solid #bac8ce;
    display: flex;
    gap: 24px;
    padding: 24px;
    background-color: #f1f1f1;
    border-radius: 4px;
    cursor: pointer;
    max-width: 680px;
    margin: 0 auto;
}

.active_card {
    border: 4px solid #2be080;
}

.plan_card_circle {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan_card_dot {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #000;
    border-radius: 50%;
}

.plan_card_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.plan_card_title {
    font-size: 18px;
    font-weight: 600;
    color: #032b41;
    margin-bottom: 8px;
}

.plan_card_price {
    font-size: 24px;
    font-weight: 700;
    color: #032b41;
    margin-bottom: 8px;
}

.plan_card_trial {
    color: #6b757b;
    font-size: 14px;
}

/*########## FAQ section ###########*/

.faq_wrapper {
    display: flex;
    flex-direction: column;
}

.faq_accordion_card {
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
    overflow: hidden;
}

.accordion_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 24px 0;
    gap: 8px;
}

.accordion_title, .accordion_icon {
    font-weight: 500;
    font-size: 24px;
    position: relative;
    margin-bottom: 0;
    color: #032b41;
    transition: 0.3s;
}

.collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.show {
    max-height: 300px;
    transition: max-height 1s ease;
}

.collapes_text {
    text-align: left;
    line-height: 1.5;
    margin-bottom: 12px;
}

/*########## Footer ###########*/

.footer {
    background-color: #f1f6f4;
}

.footer_top_wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 32px auto 64px;
    gap: 12px;
}


.footer_section_title {
    font-weight: 600;
    margin-bottom: 16px;
    font-size: 18px;
    color: #032b41;
}

.footer_section_content {
    color: #394547;
    font-size: 14px;
    cursor: not-allowed;
    margin-bottom: 8px;
}

.footer_copyright {
    text-align: center;
    color: #032b41;
    font-weight: 500;
}


/*#######################*/

@media (max-width: 768px) {

    .plan_upper_half {
        width: 100%;
        height: 52vh;
        border-bottom-left-radius:300px;
        border-bottom-right-radius:300px;
    }

    
    .plan_upper_half_title {
        font-size: 24px;
    }
    
    .plan_upper_half_title_subtitle {
        font-size: 18px;
    }

    .pricing_pic_cont {
        border: 1px solid white;
        display: flex;
        justify-content: center;
        max-width: 300px;
        margin: 0 auto;
        border-radius: 180px 180px 0 0;
        overflow: hidden;
    }
}